@page
@model AddClassesModel
@{
    ViewData["Title"] = "Add Classes";
}
@*Форма добавления*@
<h3 class="display-4">Add Classes</h3>
<div class="list-group-item d-flex justify-content-between">
    <form asp-page-handler="AddClasses" method="post">
        @Html.Label("Name:")
        <br>
        @Html.TextBox("discipline")
        <br>
        @Html.Label("Date:")
        <br>
        @Html.TextBox("date")
        <br>
        @Html.Label("Class Form:")
        <br>
        @Html.TextBox("class_form")
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <h5>@Model.Message</h5>
    </form>
</div>
<br>

<form>
    <button a asp-page="/Classes/MainClasses" class="btn btn-primary">Back</button>
</form>
